{% extends 'base.html' %} 
{% load static %} 
{% block header %} 
{% include 'header.html' %}
{% endblock header %} 

{% block content %}

<h4 class="all-products">{{tag_name|capfirst}} Products</h4>
<div class="inner-container grid-column-4">
  {% for product in tag_products %}  
    {% include 'cart/product-grids.html' %}
  {% endfor %}
</div>

{% if is_paginated %}
<div class="inner-container ">
  <div class="paginators">
    {% if page_obj.has_previous %}
      <a href="?page=1">First</a>
      <a  href="?page={{page_obj.previous_page_number}}">&laquo;</a> 
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a class="current-page" href="?page={{num}}">{{num}}</a>

      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{num}}">{{num}}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}">&raquo;</a>
      <a class="last-page" href="?page={{page_obj.paginator.num_pages}}">Last</a> 
    {% endif %}

  </div>
</div>
{% endif %}


{% endblock content %}

{% block footer %} 
{% include 'footer.html' %} 
{%endblock footer %}