{% extends 'form_base.html' %}

{% block form %}

  <form action="" method="POST">
    {% csrf_token %}
    <h2>Reset Password</h2>
    <div class="form-input">
    {{form.email.label_tag}}
    {{form.email}}
    {% for errors in form.email.errors %}
      <p class="error">{{errors}}</p>
    {% endfor %}
    </div>
    <div class="form-input">
    <input type="submit" value="Submit email" />
    </div>
  </form> 
  <div class="have-account">
    <a  href="{% url 'login' %}">Login</a>
    <a class="home" href="{% url 'ecomm:home' %}" >Home</a>
  </div>
  
{% endblock form %}