{% extends 'form_base.html' %}
{% load static %}  
{% block form %}

<form action="" method="POST">
  {% csrf_token %}
    <h2>Reset Password Confirm</h2>
    
  <div class="form-input eyepass">
    {{form.new_password1.label_tag}}
    {{form.new_password1}}
    <img onclick="return showpassword1();" class="eye" id="showpass1"  src="{% static 'img/invisible.png' %}" alt="" srcset="">
    <img onclick="return showpassword1();" class="eye" id="hidepass1"  src="{% static 'img/icons8-eye-30.png' %}" alt="" srcset="">
    {{form.new_password1.help_text}}
  </div>
  <div class="form-input eyepass">
    {{form.new_password2.label_tag}}
    {{form.new_password2}}
    <img onclick="return showpassword1();" class="eye" id="showpass1"  src="{% static 'img/invisible.png' %}" alt="" srcset="">
    <img onclick="return showpassword1();" class="eye" id="hidepass1"  src="{% static 'img/icons8-eye-30.png' %}" alt="" srcset="">
    {{form.new_password2.help_text}}
    {% for errors in form.new_password2.errors %}
      <p class="error">{{errors}}</p>
    {% endfor %}
  </div>
  <div class="form-input">
    <input type="submit" value="Confirm Reset" />
  </div>
  <!-- {{form.as_p}} -->
</form>

{% endblock form %}