{% extends 'form_base.html' %}

{% block form %}

  <form action="" method="POST">
    {% csrf_token %}
    <h2>Change Password</h2>
    <div class="form-input">
      {{form.old_password.label_tag}}
      {{form.old_password}}
      {% if form.old_password.errors %}
        {% for errors in form.old_password.errors %}
        <p class="error">{{errors}}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-input">
      {{form.new_password1.label_tag}}
      {{form.new_password1}}
      {{form.new_password1.help_text}}
    </div>
    <div class="form-input">
      {{form.new_password2.label_tag}}
      {{form.new_password2}}
      {% for errors in form.new_password2.errors %}
        <p class="error">{{errors}}</p>
      {% endfor %}
    </div>
    <div class="form-input">
    <input type="submit" value="Submit email" />
    </div>
  </form> 

{% endblock form %}