{% load static %} 
<footer>
  <div class="inner-container footer-contents">
    <div class="footer-grids">

      <div class="footer-grid">
        <h5>About store</h5>
        <p class="about-store">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          explicabo ipsam saepe a aliquid, neque aliquam!
        </p>
        <div class="social-icons">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="{% static '/img/icons/facebook-48.png' %}" alt="" srcset="">
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="{% static '/img/icons/icons8-instagram-48.png' %}" alt="" srcset="">
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="{% static '/img/icons/twitter-48.png' %}" alt="" srcset="">
            
          </a>
        </div>
      </div>

      <div class="footer-grid">
        <h5>Customer care</h5>
       <ul>
         <li><a href="">Contact</a></li>
         <li><a href="">My Account</a></li>
         <li><a href="">Return/exchange</a></li>
         <li><a href="">Report a payment issue</a></li>
         <li><a href="">Customer Services</a></li>
         <li><a href="">FAQ</a></li>
       </ul>
      </div>

      <div class="footer-grid">
        <h5>Information</h5>
        <ul>
          <li><a href="">about us</a></li>
          <li><a href="">delivery information</a></li>
          <li><a href="">privacy policy</a></li>
          <li><a href="">offers & discounts</a></li>
        </ul>
      </div>
      <div class="footer-grid">
        <h5>Contact US</h5>
        <ul>
          <li><p>Shop 36 Wuse zone 4 plaza Abuja,</p></li>
          <li><p>Opposite code Planet</p></li>
          <li><p>+2347018739335</p></li>
          <li><a href="" class="lower">info@yoursite.com</a></li>
          <li><a href="" class="lower">thinkingTek.com</a></li>
        </ul>
      </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2022-<span class="year-span"></span> All rights reserved Ebisco Clothings. Built by ThinkingTek Industries</p>
      </div>
    </div>
  </div>
</footer>