{% load static %}
{% load template_tags %}
<nav  class="nav-bar" id="navbar">
  <div class="nav_container flex-center">

    <div class="logo flex-center">
      <a href="{% url 'ecomm:home' %}" class="logo-link">
      <img src="{% static '/img/icons/icons8-shopping-bag-50.png' %}" alt="" srcset="" class="logo"><span>Fashionz</span>
    </a>
    </div>

    <!-- big screen navbar -->
    <div class="nav_links_container">
      <ul class="web_ul">
        <li class="navs_link"><a class="link  {% if home_active %} active {% endif %}" href="{% url 'ecomm:home' %}">Home</a></li>
        <li class="navs_link"><a class="link {% if products_active %} active {% endif %}" href="{% url 'cart:product-list' %}">Products</a></li>
        {% if user.is_authenticated %}
        
        <li class="navs_link">
          {% if user|has_group:"staff" %}
          <a class="link {% if staff_active %} active {% endif %}" href="{% url 'staff:staff-home' %}">
            Dashboard
          </a>
          {% else %}
          <a class="link {% if profile_active %} active {% endif %}" href="{% url 'profile' %}">Account({{user.first_name}})</a>
          {% endif %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="nav_links_container form-auth flex-center">
      <form action="{% url 'ecomm:search-items' %}" method="get" class="search-form">
       
        {{search_form.search}}
        <button type="submit">
          <img src="{% static '/img/icons/icons8-search-30.png' %}" alt="" srcset="" class="logo">
        </button>
      </form>
      <ul class="web_ul">
        <li class="navs_link">
          <a href="{% url 'cart:cart-items' %}" class="link">
          <span class="cart-icon">
            <img src="{% static '/img/icons/icons8-shopping-cart-with-counter-30.png' %}" alt="cart-icon" srcset="">
            {% if order %}
            <p class="cart-count">{{request|cart_item_count}}</p>
            {% else %}
              <p class="cart-count">0</p>
            {% endif %}
          </span>
          </a>
        </li>
        <li class="navs_link"><a class="link {% if contact_active %} active {% endif %}" href="{% url 'ecomm:contact' %}">Contact</a></li>
        <li class="navs_link">
          {% if user.is_authenticated %}
          <a class="link auth-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <a class="link auth-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
      
    </div>
    <!--  -->


    <!-- new mobile sidebar -->
    <ul class="mobile_sidebar">
      <li class="mobile_li">
        <a href="{% url 'ecomm:home' %}" class="mobile_links {% if home_active %} active {% endif %}">Home</a>
      </li>
      <li class="nav_li">
        <a href="{% url 'cart:product-list' %}" class="mobile_links {% if products_active %} active {% endif %}">Products</a>
      </li>
      <li class="mobile_li">
        <a href="{% url 'cart:cart-items' %}" class="mobile_links">
          <span class="cart-icon">
            <img src="{% static '/img/icons/icons8-shopping-cart-with-counter-30.png' %}" alt="cart-icon" srcset="">
            {% if order %}
            <p class="cart-count">{{request|cart_item_count}}</p>
            {% else %}
              <p class="cart-count">6</p>
            {% endif %}
          </span>
        </a>
      </li>
      {% if user.is_authenticated %}
      <li class="mobile_li">
        {% if user|has_group:"staff" %}
        <a href="{% url 'staff:staff-home' %}" class="mobile_links{% if staff_active %} active {% endif %}">Dashboard</a>
        {% else %}
        <a href="{% url 'profile' %}" class="mobile_links {% if profile_active %} active {% endif %}">{{user.username}}(Staff)</a>
        {% endif %}
      </li>  
      <li class="nav_li">
        <a href="{% url 'logout' %}" class="mobile_links ">Logout</a>
      </li>
      {% else %}
      <li class="nav_li">
        <a href="{% url 'login' %}" class="mobile_links {% if staff_active %} active {% endif %}">Sign in</a>
      </li>
      {% endif %}
      <li class="nav_li">
        <form action="{% url 'ecomm:search-items' %}" method="get" class="search-form">
          {{search_form.search}}
          <button type="submit">
            <img src="{% static '/img/icons/icons8-search-30.png' %}" alt="" srcset="">
          </button>
        </form>
      </li>
    </ul>

    <!-- toggler -->
    <div class="nav_toggle" id="nav-toggle">
      <img src="{% static 'img/icons/icons8-menu-bar-64.png' %}" alt="" srcset="" class="cover_center">
    </div>
  </div>
  
</nav>