@font-face {
  font-family: "poppins-bold";
  src: url("/static/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("/static/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "rubik";
  src: url("/static/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("/static/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("/static/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("/static/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("/static/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "opensan-reg";
  src: url("/static/fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "opensan-light";
  src: url("/static/fonts/OpenSans/OpenSans-Light.ttf");
}