$pry-color : lightseagreen;
$sec-color : #333;
$z-index-low : 5;
$z-index-md : 10;
$z-index-high : 15;
$z-index-highest : 20;
$pry-width : 920px;
$body-bg-cl : #f3f3f3;
$form-bg-cl: #f5f5f5;
$overlay-color : rgba(13, 14, 17, 0.6);
$light-green: #20c997;
$dark-green: #23ca98;
$sky-blue: #bee5eb;
$blue: rgb(26, 115, 232);
$overblue: rgb(28, 90, 170);
$blue-text: #2c234d;
$gray-dark: #343a40;
$light-red: #f6214b;